<!DOCTYPE html>
<html>
    <head><title>Online BIM Services</title></head>
    <body>
        <h1>BIM column grid ceation tool.</h1>
        <p>There was some wrong input. Check your input values ... <br>
        <p>Geometric values should be in mm. Only . as decimal delimiter is supported ATM.<br>
        <p>Minimum allowed geometric legth: {{valminl}} mm.<br>
        <p>Maximum allowed geometric legth: {{valmaxl}} mm.<br>
        <p><br>
        <p>height, should be a positiv float number = {{h}}<br>
        <p>width 1, should be a positiv float number = {{w1}}<br>
        <p>width 2, should be a positiv float number = {{w2}}<br>
        <p>distance x, should be a positiv float number = {{ax}}<br>
        <p>distance y, should be a positiv float number = {{ay}}<br>
        <p>count x, should be a positiv integer number = {{nx}}<br>
        <p>count y, should be a positiv integer number = {{ny}}<br>
        <p><br>
       <form method="get" action="/">
            <input type="submit" value="Try again">
        </form> 
        <p><br>
    </body>
</html>
